node_modules
dist
build
coverage

data

packages/*/node_modules
packages/*/dist
packages/*/build

packages/home/.next
packages/home/.swc

packages/shared/dist
packages/webapp/dist
packages/fragments/src
*.tsbuildinfo