---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/oauth2/v1/userinfo?access_token=ya29.a0AXooCgufiR82V_ln0s76irqlqrJLBGciOOONFpud2WLTj8ifSMp6nessJJPqiv0NUHcCNE9A0MI7o9INcWitewXntOCZxqSEX-90pC5opJurwpRY_y186eKHgmA-lYtv8YTTLVhvU181-aqJuH38dgUgzeDIJJvc0AaCgYKATgSARISFQHGX2MiyEdq2x7yANyUQzxaY6jWmg0169&alt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id": "118186764549767722209",
          "email": "fameoflight@gmail.com",
          "verified_email": true,
          "name": "Hemant Verma",
          "given_name": "Hemant",
          "family_name": "Verma",
          "picture": "https://lh3.googleusercontent.com/a/ACg8ocI6rZh81FdwoldMMO_0ov-tL-N06tmDSW7YVVzrgD3_d5h01I8GsA=s96-c",
          "locale": "en"
        }
  recorded_at: Sun, 05 May 2024 07:33:26 GMT
recorded_with: VCR 6.2.0
